<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wt.httpdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />
 <uses-permission android:name="android.permission.INTERNET" />	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HttpActivity"
            android:label="@string/title_activity_http" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
package com.example.httpdemo2;
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>